* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: black;
  color: white; }

header {
  background-image: url(../media//images/banner-hamburguesas.jpeg);
  background-size: cover;
  height: 500px;
  box-shadow: 0px 8px 17px 1px rgba(240, 255, 24, 0.76);
  -webkit-box-shadow: 0px 8px 17px 1px rgba(240, 255, 24, 0.76);
  -moz-box-shadow: 0px 8px 17px 1px rgba(240, 255, 24, 0.76); }
  header nav .transparent {
    background-color: transparent; }
  header nav div a .imgLogo {
    height: 45px;
    filter: drop-shadow(5px 5px 10px #f0ff18);
    position: relative;
    bottom: 7px; }
  header nav div h1 {
    font-family: "Rowdies", sans-serif;
    font-weight: 700;
    margin-left: 10px;
    margin-right: 10px; }
  header nav div div ul li {
    letter-spacing: 4px;
    font-size: 20px;
    font-weight: bolder; }
    header nav div div ul li .optionMenu:hover {
      text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #f0ff18, 0 0 30px #f0ff18, 0 0 40px #f0ff18, 0 0 55px #f0ff18, 0 0 75px #f0ff18, 2px 2px 2px rgba(255, 251, 0, 0), 2px 2px 2px rgba(255, 251, 0, 0); }
  header nav div div ul .active {
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #f0ff18, 0 0 30px #f0ff18, 0 0 40px #f0ff18, 0 0 55px #f0ff18, 0 0 75px #f0ff18, 2px 2px 2px rgba(255, 251, 0, 0), 2px 2px 2px rgba(255, 251, 0, 0); }

h2 {
  text-align: right;
  padding-right: 250px;
  padding-top: 100px;
  font-family: "Sedgwick Ave Display", cursive;
  font-size: 60px;
  animation-duration: 1s;
  animation-name: titilar;
  animation-iteration-count: infinite; }

@keyframes titilar {
  0% {
    opacity: 1; }
  50% {
    opacity: 1;
    text-shadow: 0 0 10PX #f0ff18, 0 0 20PX #f0ff18, 0 0 30PX #f0ff18; }
  100% {
    opacity: 1; } }

main .menuNosotros {
  margin: 10px auto;
  width: 80%; }
  main .menuNosotros h3 {
    margin: 30px;
    font-family: "Rowdies", sans-serif;
    font-weight: 400;
    font-size: 50px;
    text-align: center;
    letter-spacing: 5px; }
  main .menuNosotros .contenedorNosotros {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    grid-template-areas: "imgNosotros1 imgNosotros1 txtNosotros txtNosotros txtNosotros" "imgNosotros1 imgNosotros1 txtNosotros txtNosotros txtNosotros" "imgNosotros1 imgNosotros1 imgNosotros2 imgNosotros3 imgNosotros4"; }
    main .menuNosotros .contenedorNosotros .imgNosotros1 {
      width: 100%;
      grid-area: imgNosotros1; }
    main .menuNosotros .contenedorNosotros .txtNosotros {
      font-family: "Rowdies", sans-serif;
      font-weight: 300;
      grid-area: txtNosotros;
      letter-spacing: 3px; }
    main .menuNosotros .contenedorNosotros .imgNosotros2 {
      grid-area: imgNosotros2; }
      main .menuNosotros .contenedorNosotros .imgNosotros2 img {
        width: 250px; }
    main .menuNosotros .contenedorNosotros .imgNosotros3 {
      grid-area: imgNosotros3; }
      main .menuNosotros .contenedorNosotros .imgNosotros3 img {
        width: 250px; }
    main .menuNosotros .contenedorNosotros .imgNosotros4 {
      grid-area: imgNosotros4; }
      main .menuNosotros .contenedorNosotros .imgNosotros4 img {
        width: 250px; }
    main .menuNosotros .contenedorNosotros .imgNosotros4 {
      grid-area: imgNosotros4; }
      main .menuNosotros .contenedorNosotros .imgNosotros4 img {
        width: 250px; }

main .carousel {
  margin-top: 100px; }

main .promos {
  width: 90%;
  margin: auto;
  margin-bottom: 40px; }
  main .promos h3 {
    margin: 30px;
    font-family: "Rowdies", sans-serif;
    font-weight: 400;
    font-size: 50px;
    text-align: center;
    letter-spacing: 5px; }
  main .promos div .card {
    background-color: black;
    outline: 1px solid;
    transition: outline 1s ease 0s; }
    main .promos div .card:hover {
      outline: 1px solid #ff0000; }
    main .promos div .card .card-body .card-title {
      font-family: "Rowdies", sans-serif;
      font-weight: 400;
      color: white; }
    main .promos div .card .card-body .card-text {
      font-family: "Rowdies", sans-serif;
      font-weight: 300;
      color: white; }
    main .promos div .card .card-footer {
      color: #f03535; }

footer {
  margin: auto;
  width: 100%;
  height: 100px;
  background-image: url(../media/images/footer.jpg);
  background-size: contain;
  background-position: center;
  display: flex; }
  footer .txtFooter {
    margin: auto;
    font-family: "Rowdies", sans-serif;
    font-size: 20px;
    font-weight: 300px; }
  footer .imgFooter {
    justify-content: end;
    width: 100px;
    filter: drop-shadow(5px 5px 10px #48ff00);
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 100; }
